{# templates/projet/apimages.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Projet Apimages{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page Projet Apimages</h1>
{% endblock %}
