{# templates/projet/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Page d'accueil des projets{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de nos projets</h1>
    <ul>
        <li><a href="{{ path('projet_apimages') }}">Projet Centre social</a></li>
        <li><a href="{{ path('projet_portefolio') }}">Projet Association Terre Afrique</a></li>
        <li><a href="{{ path('projet_fedhubs') }}">Projet PorteFolio</a></li>
        <li><a href="{{ path('projet_devin') }}">Projet Devin</a></li>
    </ul>
{% endblock %}
