{# templates/backoffice/project/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau projet</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
