{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/index.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/index.js') }}"></script>
{% endblock %}

{% block body %}
<!--HamBurger Icon-->
<div class="bars" id="nav-action">
  <span class="bar"> </span>
</div>

<!--Navbar Links-->
<nav id="nav">
  <ul>
    <li class="shape-circle circle-one"><a href="#">Contact</a></li>
    <li class="shape-circle circle-two"><a href="#">Blog</a></li>
    <li class="shape-circle circle-three"><a href="#">FormationS</a></li>
    <li class="shape-circle circle-five"><a href="#">Home</a></li>
  </ul>
</nav>

<!--Main Body Content-->
<article class="container">
  <h1>Portefolio<br>N'DIAYE<br> Abdoulaye</h1>
  <p>Inspired by Google Codepen Design </p>
</article>
{% endblock %}
