<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <!-- En-tête de votre site -->
    </header>

    <nav>
        <!-- Menu de navigation -->
    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <!-- Pied de page -->
    </footer>

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</body>
</html>
