<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app_style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'layout/header.html.twig' %}
    {% endblock %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'layout/footer.html.twig' %}
    {% endblock %}

    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
